.header {
  display: flex;
  justify-content: center;
}

.back {
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  top: 0%;
  left: 0%;
  position: absolute;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  margin: 1rem;
}

.categoriesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #cccccc;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  height: 85vh;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.categoryName {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
  background-color: #e3e3e3;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.addCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #cccccc;
  margin: 1rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.categoryAndIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
}
