@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background-color: #e8e8e8;
  overflow-x: hidden !important;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

.back {
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  top: 0%;
  left: 0%;
  position: absolute;
}

.reset {
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  top: 0%;
  right: 0%;
  position: absolute;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  margin: 1rem;
}

.whiteBackgroundSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #ebebeb;
  margin: 1rem 0.2rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 7px;
}

.backBox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #cccccc;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  height: 80vh;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.categoryItem {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
  background-color: #e3e3e3;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.lowerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #cccccc;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 90%;
}

.justifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
