.form {
  display: flex;
  flex-direction: column;
}

.labels {
  font-size: 1.2rem;
  font-weight: 500;
}

.description {
  background-color: #ebebeb;
  margin: 1rem 0.2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  width: 98%;
  height: 7rem;
  word-break: break-all;
  white-space: normal;
  resize: none;
  padding: 7px;
}
