.header {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.addCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #ebebeb;
  margin: 1rem 0.2rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 7px;
}

.labels {
  font-size: 1.2rem;
  font-weight: 500;
}

.description {
  background-color: #ebebeb;
  margin: 1rem 0.2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  width: 98%;
  height: 7rem;
  word-break: break-all;
  white-space: normal;
  resize: none;
  padding: 7px;
}
